.info {
    border-top: black 1px solid;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 8px;
    
}

.brideinfo {
  
    padding: 8px 8px;
    text-align: center;
    justify-content: center;
    margin: auto;

}

.dayinfo {
   
    padding: 8px;
    text-align: center;
    justify-content: center;
    margin: auto;
}


.giftinfo {
    
    padding: 8px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.sections {
    color: blue;
    font-size: large;
}

.showgifts {
    text-align: center;
    padding: 8px;
    border: blue 1px solid;
    height: 200px;
    overflow-y :auto;
}

.guestD {
    font-size: 24px;
}

.giftsec{
   
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 8px;
    
}

#giftButton {
    padding: 12px;
    font-size: 20px;
    color: blue;
    margin: 12px;
}

.welcomeinfo {
    border: blue 1px solid;
    text-align: center;
    padding: 16px;
    width: 800px;
    margin: auto;
}

.rsvp-section {
    padding: 24px;
}

.gift-intro {
    padding: 24px;
    border-top: palevioletred 1px solid;


}

#notice-section {
    background-color: whitesmoke;
    padding: 4px;
    
   
}

#showlist {
    text-align: center;
    padding: 16px;
    width: 800px;
    margin: auto;
    border: thistle 1px solid;
}

 .auth-form {
    padding: 20px;
    margin: auto;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-size: 36px;
 }